<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/style2.css">
        <title>Mercado Liebre</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <section>
            <img src="/images/logo-mercado-liebre.svg" width="300px">
            <article id="barraDeBusqueda">
                <label>
                <input type="search" placeholder="Buscar productos, marcas">
                <p><button type="submit"><i class="fas fa-search"></i></button></p>
                </label>
            </article>
            <article>
                <p> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </article>
            <article class="venta">
                    <p>Ofertas</p>
                    <p>Tiendas Oficiales</p>
                    <p>Vender</p>
                    <p>Ayuda</p>
            </article>
            <article class="cuenta">
                <a href="/registro">Creá tu cuenta</a><i class="far fa-id-card"></i><br>
                <a href="/login">Ingresa</a><i class="fas fa-sign-in-alt"></i><br>
                <a>Mis compras<i class="fas fa-shopping-basket"></i></a>
            </article>
            <article>
            <div class="burger">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            </article>
            <img src="/images/img-home-banner.jpg" width="100%">
        </section>     
        </header>
        <section id="login">
            <h3>Registro de Usuario</h3>
            <form action="Login-Usuario" method="POST">
                <label for="user">Nombre de Usuario:</label><br>
                <input type="text" id="name" name="name"><br>
                <label for="user">Nombre de usuario:</label><br>
                <input type="text" id="user" name="user"><br>
                <label for="contraseña">Contraseña</label><br>
                <input type="password" id="contraseña"><br>
                <button><a href="/">enviar</a></button>
            </form>
        </section>
        <footer>
            <section>
               <article>
                <div class="icon">
                    <i class="fas fa-credit-card"></i>
                </div>
                   <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </article>
                <article>
                    <div class="icon">
                        <i class="fas fa-gift"></i>
                    </div>
                    <h3>Envío gratis desde $2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </article>
                <article>
                    <div class="icon">
                        <i class="fas fa-user-shield"></i>
                    </div>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
                    </p>
                </article>
                <article>
                    <p> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                </article>
            </section>
        </footer>
    </body>