<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/style2.css">
        <title>Mercado Liebre</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <div class="header">
    
                <div class="logo">
                    <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
                </div>
    
                <div class="barraDeBusqueda">
                    <form action="get" method="GET" id="barraDeBusqueda">
                        <label for="barraDeBusqueda"></label>
                        <input class="busqueda" type="text" name="barraDeBusqueda" placeholder="Buscar productos, marcas">
                        <button><i class="fas fa-search"></i></button>
                    </form>
                </div>
    
                <div class="comprar">
                    <p>
                        <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
                    </p>
                </div>
            </div>
    
            <nav class="link">
                <ul id="izquierda">
                    <li><a href="/">Ofertas</a></li>
                    <li><a href="/">TIendas Oficiales</a></li>
                    <li><a href="/">Vender</a></li>
                    <li><a href="/">Ayuda</a></li>
                </ul>
                <ul id="derecha">
                    <li><a href="/registro">Creá tu cuenta</a> <i class="far fa-id-card"></i></li>
                    <li><a href="./login">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
            <div class="burger">
                <i class="fas fa-bars burger"></i>
            </div>
            
        </header>
        <img src="/images/img-home-banner.jpg"  width="100%">
        <main>
            <h3>Registro de Usuario</h3>
            <form class="prueba" action="/" method="POST">
                <div>
                <label for="name"></label><br>
                <input type="text" name="name" placeholder="Nombre Completos" required><br>
            </div>
            <div>
                <label for="user"></label><br>
                <input type="text" id="user" name="user" placeholder="Nombre de usuario" required><br>
            </div>
            <div>
                <label for="nacimiento"></label><br>
                <input type="date" id="nacimiento" name="nacimiento" placeholder="Fecha de nacimiento" required><br>
            </div>
            <div>
                <label for="domicilio"></label><br>
                <input type="text" placeholder="Domicilio" name="domicilio" required><br>
            </div>
            <div>
                <label for="tipoUsuario" required>Perfil del Usuario:</label><br>
                <input type="radio" id="Comprador" name="tipoUsuario">
                <label for="Comprador">Comprador</label>
                <input type="radio" id="vendedor" name="tipoUsuario">
                <label for="vendedor">Vendedor</label><br>
            </div>
            <div>
                <label>Categorias de Interes</label><br>
                <input type="checkbox" id="electro" name="electro">
                <label for="electro">Electro</label>
                <input type="checkbox" id="Moda" name="Moda">
                <label for="Moda">Moda</label>
                <input type="checkbox" id="Hogar" name="Hogar">
                <label for="Hogar">Hogar</label>
                <input type="checkbox" id="Juguetería" name="Juguetería">
                <label for="Juguetería">Juguetería</label>
                <input type="checkbox" name="Vida sana">
                <label for="Vida sana">Vida sana</label><br>
            </div>
            <div>
                <label for="fotoUsuario">Foto de Usuario</label><br>
                <input type="file" id="fotoUsuario"><br>
            </div>
            <div>
                <label for="contraseña">Contraseña</label><br>
                <input type="password" class="dato" required><br>
                <label for="confirmarContraseña">Confirmar Contraseña</label><br>
                <input type="password" class="dato" required><br>
            </div>
            <div>
                <button type="submit" class="iniciarsesion">enviar</button>
                <input type="reset" value="reset" class="iniciarsesion">
            </div>
            </form>
        </main>
        <footer>
            <section>
               <article>
                <div class="icon">
                    <i class="fas fa-credit-card"></i>
                </div>
                   <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </article>
                <article>
                    <div class="icon">
                        <i class="fas fa-gift"></i>
                    </div>
                    <h3>Envío gratis desde $2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </article>
                <article>
                    <div class="icon">
                        <i class="fas fa-user-shield"></i>
                    </div>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
                    </p>
                </article>
                <article id="copy">
                    <p> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                </article>
            </section>
        </footer>
    </body>
</html>