/* COLORES
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   }
   
body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color:rgb(160, 160, 160) ;
}
header{
    background-color:#EAC926 ;
    text-align: center;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.barraDeBusqueda{
    display: flex;
    justify-content: center;
    width: 50%;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    display: list-item;
}
a{
    color:black;
    cursor: pointer;
    text-decoration: none;
}
.busqueda{
    width: 90%;
}
#BarraDeBusqueda{
    display: flex;
}
.link {
    display: none;
}
.logo {
    width: 45%;
}
form{
display: block;
margin-top: 0em;
}
h3{
    font-size: 24px;
}
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 90%;
}
.prueba{
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color:white;
    margin: 10px 20px;
    border-radius: 15px;
}
main.form{
    text-align: center;
    justify-content: center;
    margin: auto;
    height: 60vh;
    width: 90%;
}
.iniciarsesion{
    margin: 5px;
 background-color: #1259c3;
    width: 125px;
    height: 35px;
    border-radius: 10px;
}
.insec{
    font-weight: bold;
    color: white;
    box-shadow: black ;
}
.producto{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    text-align: justify;
    background-color:white;
}
.visita{
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
.ofertas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
.Camiosito{
    position: absolute;
    border: 1px solid #39b54a;
    border-radius: 50%;
    color:#39b54a ;
    height: 30px;
    width: 30px;
    padding: 5px;
    background-color: #FFF;
    text-align: center;
    right: 20px;
    top: -15px;
}

.precio{
    width: 30%;
    font-size: 18px;
}
.descuentos{
    width: 70%;
    color:#39b54a ;
    font-size: 16px;
}
.descripciones{
    display: none;
    font-size: 16px;
}
.description-flex{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    border: 1px solid #ebebeb;
    padding: 15px;
    width: 100%;
}
.burger-menu{
    font-size: 15px;
    background-color: #1259c3;
    color: white;
    width: 45px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius:5px;
    display: inline-block;
    margin: 5px;
}
.venta{
    display: none;
    text-align: justify;
}
.cuenta{
    display: none;
    text-align: justify;
}

.icon{
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}
footer{
    text-align: center;
    background-color: white;
}
footer section article{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 10px
}

@media (min-width: 361px){
.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0px 15px 15px 15px;
}
.logo{
    width: 30%;
    padding: 0px;
}
#barraDeBusqueda{
    width: 80%;
    justify-content: space-around;
}

.compra {
    width: 30%;
    padding: 0px;
}
   .link{
        display: flex;
        justify-content: space-between;
        font-size: 16px;
    }
    #izquierda{
        display: flex;
        padding: 5px;
        gap: 10px; 
    }
    #derecha{
    display: flex;
    padding: 5px;
    gap: 10px;
}
    .descripciones{
        display: block;
        font-size: 16px;
    }

    .producto{
        width: 40%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger{
        display: none;
    }
   
}

@media (min-width: 769px){
.visita{
        display: flex;
        flex-wrap: nowrap;
    }
    .ofertas{
        display: flex;
        flex-wrap: nowrap;
    }
}